*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
!debug.keystore
google-services.json
!app/src/mock/google-services.json
/keystore.properties
